*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input{
  outline: 0;
  border: 0;
}
ul{
  list-style: none;
}
.li-answer{
  cursor: pointer;
  
}

.li-answer.color{
  background-color: white !important;
  color: black !important;
}
.modal-result{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;

}
.modal-content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(153, 149, 149,50%);
}

.quiz{
background-color: rgba(11, 127, 152, 0.5);
}
.title-quiz{
background-color: rgba(11, 127, 152);

}

.quiz li{
  background-color: rgba(11, 127, 152, 0.3) ;
}
.setting{
  background-color: #124f90;
}
